doctype html
html
  head
    style
      include ../public/css/style.css

  body
    .mainDiv
      .contentDiv
        h1 Main Page
        select
          each item in summaryCoinTickerName
            option(value= item.key)= item.name


        form(action="/opreturn" method="post" name="op_return")
          center Address:
            input(type="text" name="aid")
            input(type="submit" value="submit")

        center Version: #{cvaVersion}
