doctype html
html
  head
    style
      include ../public/css/style.css

  body
    .mainDiv
      .contentDiv
        h1 Main Page
        select
          each item in summaryCoinName
            option(value= item)= item

      .contentDiv
        #{addressStringify}
          center Version: #{cvaVersion}
